.footer {
  font-family: poppins, Arial, Helvetica, sans-serif;
  padding: 60px 0;
}

.footer__title {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #212121b2;
  margin: 0 auto;
  text-align: center;
}

.footer__copyright {
}
